body {
    font-size: 16px;
    color: #fff;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}

/** HEADER **/
#header-nav {
    background-color: #989898;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 40px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Oxygen', serif;
    color: black;
    font-size: 1.7em;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 20px;
}

#nav-list {
    margin-top: 0px;
}
#nav-list a {
    color: black;
    text-align: center;
}
.navt{
    border: 2px solid black;
    margin-bottom: 0px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -33px;
}
#collapsable-nav{
    background-color: 989898;
}

.text-center, #beef, #chicken, #sushi {
    color: black;
}

h2, .titles {

    color: black;
    font-weight: bold;
}

div p b {
    font-size: 25px;
}

#header-nav{
    border: 3px solid black;
}

#nav-list li p {
    background: white;
}

.para {
    font-size: 20px;
    padding: 10px;
}

/* END HEADER */

/* HOME PAGE */

#home-tiles .item-text {
    background: #989898;
    padding: 10px;
    margin: 10px;
}

#home-tiles .item-text p {
    font-size: 1.3em;
    font-weight: 400;
}

.link {
    color: white;
}

/* END OF HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
    
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #home-tiles .item-text {
        padding: 10px;
        margin: 10px;
    }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    /* End Header */

    /* Home Page */
    .menu-item-description {
        text-align: center;;
    }
    #home-tiles .item-text {
        padding: 10px;
        margin: 10px;
    }

}